// Pen Lister. v3.0 ematrix sass styles 12/1/15
/*NOTE for font compile rules:

p.ex1 {
    font: 15px arial, sans-serif;
}

p.ex2 {
    font: italic bold 12px/30px Georgia, serif;
}
*/



/*
 EXTEND /Inheritance
========================================== */

/*see menu links example*/


/*
 OPERATORS - doing maths in css +,_ /,*, % 
 ========================================== */

/*.container { width: 100%; }

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complimentary"] {
  float: right;
  width: 300px / 960px * 100%;
}*/



/*
 PARTIALS and url imports
========================================== */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic|News+Cycle:400,700|Khand:400,700|Oswald:400,700|Rubik+One);
@import "/Library/Ruby/Gems/2.0.0/gems/font-awesome-sass-4.2.2/assets/stylesheets/font-awesome.scss";

//@import '_partial';

/*FONTS
=========================================== */

@font-face {
    font-family: "FontAwesome";
    src : url("fonts/font-awesome/fontawesome-webfont.eot");
    src : url("fonts/font-awesome/fontawesome-webfont.eot") format ("embedded-opentype");
    src : url("fonts/font-awesome/fontawesome-webfont.woff") format ("woff");
    src : url("fonts/font-awesome/fontawesome-webfont.ttf") format ("truetype");
    src : url("fonts/font-awesome/fontawesome-webfont.svg") format ("svg");
    font-weight:normal;
    font-style: normal;
}



/*
 MIXINS
 ========================================== */

@mixin ff-fix-header {
    -moz-transform: scale(1); 
    -moz-transform-origin: 0 0;
}

@mixin box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin custom-counter-li {
    counter-increment: step-counter;
    margin-bottom: 10px;
}

@mixin custom-counter-li-before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(179, 200, 16);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  @include border-radius(3px);
}

@mixin custom-button {
 // content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(179, 200, 16);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  @include border-radius(3px);
}

@mixin custom-button-orange {
 // content: counter(step-counter);
  margin-right: 5px;
  font-size: 100%;
  background-color:$theme-color;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  @include border-radius(3px);
}

@mixin web-transition-size {
    -webkit-transition: width 3s ease, height 3s ease;
    -moz-transition: width 3s ease, height 3s ease;
    -o-transition: width 3s ease, height 3s ease;
    transition: width 3s ease, height 3s ease;
    }
    
@mixin box-shadow-dark {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@mixin box-shadow-light {
    box-shadow: 0 0 4px 0 rgba(210, 210, 185, 0.4);
}

@mixin box-shadow-ccc {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

@mixin entry-list {
  display:block;
  list-style:square inside;
  line-height: normal;
  padding-left:20px;
  border-left:$border-7-olive;
}

@mixin image-entry{
    //padding:2px;
    float:left;
    margin:0 auto;
    position: relative;
    overflow:hidden;
}

@mixin image-credit-hover {
    background: rgb(248, 78, 45);
    background: rgba(248, 78, 45, 0.6);
    max-width: 100%;
    height:25px;
    padding:20px 20px 50px 20px;
    position: absolute;
    top:30px;
    left:20px;
    color:#fff;
    display:none;
    font: 1.0em 'Oswald', sans-serif;
}

@mixin entry-list-hover {
    z-index: 200;
    background: rgb(17,45,48);
    background: rgba(17,45,48,0.6);   
    max-width: 450px;
    max-height:400px;
    padding:30px 30px 50px 30px;
    overflow:hidden;
    position: absolute;
    bottom:-10px;
    left:200px;
    color:#000;
    display:none;
    font: 1.0em 'Oswald', sans-serif;
    @include border-radius(3px);
}

@mixin popupoverlay{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width:auto;
    height:auto;
    display:none;
    margin:1em;
    background:#000;
    padding-left:7px;
}

@mixin top-head-menu {
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(57, 72, 16);
    color: rgb(254, 138, 19);  
    font-weight: bold;
    padding: 3px 8px;
    @include border-radius(3px);
}
@mixin top-head-menu-orange {
  //  margin-right: 5px;
  //  border-right:$border-5-orange;
    color: rgb(254, 162, 96);
    display:inline;
    font: $gf-oswald-menu;
   // font-weight: bold;
   // padding: 10px 8px;

}

@mixin top-head-menu-brick {
    margin-right: 5px;
    border-right:$border-5-brick;
    color: rgb(254, 162, 96);  
    font-weight: bold;
    padding: 10px 8px;
}

/**@mixin menu-fontawesome {
    @extend .fa;
    @extend .fa-camera-retro;
   // font:$gf-oswald-menu;
    &:before {
        font-family: "FontAwesome";
    }
}*/


/*
VARIABLES
========================================== */

//dev variables - to show div borders and layout when needed
$divborder: 1px solid red;
$divwidth: 98%;

//body font variables inc Google fonts
$gf-body: 1em 'Noto Sans', sans-serif;
$gf-body-italic:italic 1em 'Noto Sans', sans-serif;
$gf-footers: 0.9em 'News Cycle', sans-serif;
//$gf-oswald-menu: 700 1.5em 'Oswald', sans-serif;
$gf-oswald-menu: 700 1.2em 'Oswald', sans-serif;
$gf-h1-oswald: 700 2.5em 'Oswald', sans-serif;
$gf-h1: 46px 'Khand', sans-serif;
$gf-h2: 35px 'Khand', sans-serif;
$gf-h3: 28px 'Khand', sans-serif;
$gf-h4: 21px 'Khand', sans-serif;
$gf-h4-relationships: 21px 'Oswald', sans-serif;
$gf-h5: 17px 'Khand', sans-serif;
$gf-h6: 14px 'Khand', sans-serif;


//LAYOUT
$para-padding: 10px 0px 15px 0px;
$container-width:100%;

//HEADERS
$top-page-margin: 150px;
$header-padding: 10px;
$header-menu-font-weight: bold;
$header-menu-font-size: 18px;
$header-menu-float: right;
$header-menu-width: 70%;

//TOGGLE MENU
$menu-layout:inline;
$menu-icon-font: 700 17px 'Oswald', sans-serif;

//COLOURS
/*
brick hex #c84a2d
fawn hex #f3d6a7
*/
$primary-color: #fff;
$secondary-color: #dbdbdb;
$theme-color: rgb(254,94,19);
$theme-color-brick: rgb(199,74,45);


//BORDERS
$theme-border: rgb(254,94,19) 1px solid;
$grey-border: #ccc 1px solid;
$leaf-dotted-border: #afdd78 1px dotted;
$border-7-olive:7px solid rgb(61,83,25);
$border-3-olive:3px solid rgb(61,83,25);
$border-5-brick: 5px solid rgb(200,74,45) ;
$border-2-brick-alpha: 2px solid rgba(158, 28, 13, 0.6);
$border-2-orange: 2px solid rgb(254,94,19);
$border-5-orange: 5px solid rgb(254,94,19);

//IMAGES
//$image-padding: 5px 10px 5px 1px;
$image-padding: 5px;
$image-promo-list: 5px 0px 5px 0px;
$image-border: #ddd 1px solid;
$image-margin-bottom: 5px;





/* styles
========================================== */

//dev styles

.container {
//    width: 965px !important;
}

div {
    //border: $divborder;
    //width: $divwidth;
}

//elements styling

 * {
    @include box-sizing
      }

body {
  background: $primary-color;
  font: $gf-body;
}

h1,h2,h3,h4,h5,h6 {color: rgb(61,83,25);}
h1 {font: $gf-h1;}
h2 {font: $gf-h2;}
h3 {font: $gf-h3;padding:0px 5px 0px 5px;clear:left;}
h4 {font: $gf-h4;}
h5 {font: $gf-h5;}
h6 {font: $gf-h6;}


header{
    top:0;
    width:$container-width;
    padding: $header-padding;
    position:fixed;
    @include ff-fix-header;
    background:#fff;
    height:69px;
    font-size: $header-menu-font-size;
}

header .strap {
    width:300px;
    overflow:hidden;
}

header h1.header-h1{
    margin:0 auto;
    float:left;
    color: rgba(158, 28, 13, 0.6);
    font: $gf-h1-oswald;

}

header h5 {
    color: rgba(158, 28, 13, 0.9);
    float:left;
    padding-left:1px;
}

.top-margin{
    margin-top:$top-page-margin;
}


/* ==  Menu Header styles
================================================= */

//toggle menu header
.menu-header {
    width: 100%;
    height:130px;
    z-index: 99;
    background: rgb(254,94,19);
    background: rgba(254,94,19,0.9);
    position:fixed;
}
  
nav#menu {
    float:right;
    margin-top:-90px;
    margin-right:20px;
}

.menu-wide li {
    padding:2px;
    @include top-head-menu-orange;
}

.menu-wide li.icon-creative i.fa.fa-image{ 
    background-position:0px 0px;
    font-size: 26px;
    text-align: center;
    color:rgb(242, 221, 195);
}

.menu-wide li.icon-work i.fa.fa-cubes{ 
    background-position:0px 0px;
    font-size: 26px;
    text-align: center;
    color:rgb(242, 221, 195);
}

.menu-wide li.icon-skills i.fa.fa-cogs{ 
    background-position:0px 0px;
    font-size: 26px;
    text-align: center;
    color:rgb(242, 221, 195);
}

.menu-wide li.icon-blog i.fa.fa-paper-plane{ 
    background-position:0px 0px;
    font-size: 26px;
    text-align: center;
    color:rgb(242, 221, 195);
}

.menu-wide a:link {
    color: #f3dea3;
  text-decoration: none;
}

.menu-wide a:visited {
  @extend .menu-wide;
      color: #f3dea3;
}

.menu-wide a:hover {
  @extend .menu-wide;
  color: #ffdd00;
}

.menu-wide a:active {
  @extend .menu-wide;
    color: #ffe800;
  border-bottom: yellow dotted 1px;
}

footer.mainfooter{
    padding-top:10px;
    height:200px;
    font:$gf-footers;
    border-top:$border-5-orange;
}

.mainfooter {
    font:$gf-h6;
    text-decoration: none;
}

.mainfooter a:link, a:visited {
 @extend .mainfooter;
 color: #bb2906;
}

.mainfooter a:hover {
 @extend .mainfooter;
 color: #dddd21;
}


//image styles inc gallery popup
img {
    @include border-radius(8px);
    padding: $image-padding;
    margin-left:-4px;
    width:100%;
}

.image-entry {
    @include image-entry;
}

.image-credit-hover {
    @include image-credit-hover;
    cursor: pointer;
}

a:hover + .image-credit-hover {
    display: block;
    cursor: pointer;
}

img.logotop {
    float:left;
    width:110px;
    height:110px;

}

.image-gal {
    margin-left: 9px;
    
}

.image-gal-img{
    padding:2px;
    height:90px;
    width:90px;
}



//pop ups for forms etc
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 800px;
  margin: 20px auto;
}

.white-popup-block {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 800px;
  margin: 20px auto;
}

/*channel video player */   
iframe, embed, object {
  //  max-width: 100% !important;
}
.video-embed {
    width: 100%;
    padding: 5%;
    margin:0px auto;
    background:#fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

// css-tricks advice on responsive embed
.videoWrapper {
	position: relative;
	//padding-bottom: 56.25%; /* 16:9 */
        padding-bottom: 53.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
        background:#fff;
}

//MASONRY BOX lists
#masonry-box {
	clear:both;
	display:block;
        position: relative;
}

.item {
 margin: 0 8px 0 7px !important;
  }
  
/*div#masonry-box > div.item:first-child{
.item-img {
    width: 450px;
    height:350px;
}
   border:$grey-border;
  }*/

.item a:link,.item a:visited {
    text-decoration: none;
    border-bottom:$leaf-dotted-border;
    padding-top:0px;
    color: rgb(61,83,25);
}

.item a:hover {
    color: rgb(243, 81, 25);
}

.scroll-end, .pagination{
    position:absolute;
    bottom:-30px;
   right: 18px;
    font:$gf-h6;
}

.pagination{
    @include custom-button-orange;
}
.posted {
    border-top:$border-2-orange;
    margin-bottom:20px;
}
.paginate-entry {
    border-top:$border-3-olive;
        margin-bottom:20px;
}
       
.viewmore {
    @include custom-button;
        text-align:left;
        position: absolute;
        top: 88px;
        left: 10px;
        z-index: 60;
        width:105px;
}

.readmore {
    @include custom-button;

}

.viewmore a:link, .viewmore a:visited, .readmore a:link, .readmore a:visited{
            color:#56771f;
            text-decoration:none;
            border-bottom:$leaf-dotted-border;
}
.viewmore a:hover, .readmore a:hover{
            color:#fff;
}

.custom-counter {
    @include custom-counter;
}

.custom-counter strong {
    color: rgb(134, 74, 45);
    font-size:1.2em;
   @include border-radius(3px);
   background-color:rgba(199,74,45, 0.5);
   margin: -1px;
   padding:1px 8px 1px 8px;
}

.custom-counter a:link, .custom-counter a:visited {
   font-size:1.2em;
   text-decoration: none;
   height:10px;
   width:10px;
   color:#f1de6d;
   @include border-radius(3px);
   background-color:/*#b94e0e*/ rgba(199,74,45, 0.5);
   margin: -1px;
   padding:1px 8px 1px 8px;
}

.custom-counter a:hover {
    border-bottom: $leaf-dotted-border;
      color: #fffa00;
}
.custom-counter li {
    @include custom-counter-li;
}

.custom-counter li::before {
    @include custom-counter-li-before;
}

//    ////////   MEDIA QUERIES      ////////

//NOTE - move any media queires to SKELETON layout.css when ready!

      //  @media only screen and (max-width: 479px) {}

@media only screen and (max-width: 758px) {

            
            img.logotop {
                float:left;
                width:75px;
                height:75px;
            }
            
            
            header .strap {
                width:180px;
                overflow:hidden;
            }
            header h1.header-h1{
                float:left;
                color: rgba(158, 28, 13, 0.6);
                font: $gf-h1-oswald;
                font-size:1.5em;
            }
            
            header h5 {
                color: rgba(158, 28, 13, 0.9);
                float:left;
                padding-left:1px;
                margin-top:-10px;
            }
            
            nav#menu {
                float:none;
                margin:0px 0 0 0px;
            }
            
            .menu-link {font: $menu-icon-font;}
            
            .menu-header {
                height:90px;  
                position:relative;
            }

            header .container{
                width:420px !important;
            }           
            
            .menu-wide li, .menu-wide li:last-child {
                border-right: none;
                margin:0px !important;
            }

            .menu-wide li a:hover {background-color:rgba(171, 88, 33, 0.4);}
            
            
            .top-margin{
                margin-top: 20px !important;
            }

	    #masonry-box1{
		clear:both;
	    }
	    
           .menu-wide li.icon-creative,.menu-wide li.icon-work,.menu-wide li.icon-skills,.menu-wide li.icon-blog{
                width:100% !important;
            }
            
            .menu > .menu-wide > ul li {
                width:100%;
            }

        }
        
        

        @media only screen and (max-width: 479px) {
            
            header .container{
                width:330px !important;
            }
            
           .menu-wide > li.icon-creative,.menu-wide li.icon-work,.menu-wide li.icon-skills,.menu-wide li.icon-blog{
                width:100% !important;
            }
            
            .menu > .menu-wide > ul li {
                width:100%;
            }

        }

/*
! MISC styles taken and edited from mutli-toggle-styles css file, for toggle menu,
from normalize.css v3.0.0 | MIT License | git.io/normalize
- RWD + header padding/relative position for menu
*/


*, *:before, *:after {
      @include box-sizing;
}


img,
audio,
video,
canvas,
iframe {
  max-width: 100%; }

img {
  height: auto; }

hr { margin-bottom:20px; }
